@import "@/styles/config.scss";

.root {
  width: 100vw;
  height: 100vh;

  padding: 1rem;
  padding-top: calc($nav_height + 4rem);
  padding-bottom: 4rem;

  h1 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;

    margin-top: 2rem;

    text-align: center;
  }

  p {
    font-size: 2rem;

    width: 50vw;

    margin: 0 auto;

    a {
      opacity: 0.75;
      text-decoration: underline;
    }
  }

  .tmember {
    width: 50vw;

    margin: 0 auto;
    margin-top: 2rem;

    h2 {
      font-size: 2.5rem;
      font-weight: 700;

      line-height: 1;
    }

    .links {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      margin-bottom: 1rem;

      a {
        font-size: 1.4rem;
        opacity: 0.75;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .root {
    padding: 1rem !important;
    padding-top: calc($nav_height + 1rem) !important;

    h1 {
      font-size: 3rem;
      text-align: start;

      margin-top: 0;
      margin-bottom: 0;
    }

    p {
      font-size: 1.4rem;
      width: 100%;
    }

    .tmember {
      width: 100%;

      h2 {
        font-size: 2rem;
      }

      .links {
        gap: 0.5rem;

        a {
          font-size: 1.2rem;
        }
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}
